/*
Verde : #7aa44a
Lila: #b685c6
Celeste : #36a4d3
Rosa : #ef66b9
Mostaza : #a38321
Gris claro : #dbdbdb
Gris modal fondo : #edecec
Gris oscuro letra: #ba5e49
Gris iconos : #646464
Rojo : #e84848*/

@font-face{
	font-family: 'Flexo';
	src: url('../img/Flexo.It.otf');
}

body h1{
	color: #e84848;
	font-size: 60px;
	text-align: center;
}

.form-group{	
	border-bottom: 1px solid black;
	width: 400px;
	margin-right: 550px; 
	margin-top: 40px;
	font-size: 25px;
}

input.form-control{	
	border-style: none;			
}

.navbar-form .form-control {    
    width: 360px; 
}



